@media(min-width: 2000px) {
    :root {
        --siteWidth: clamp(200px, 90vw, 1800px);
    }

    .menu__header {
        font-size: 64px;
    }

    .menu__menu__list__link {
        font-size: 42px;
    }

    .menu__main {
        margin-bottom: 5vh;
    }

    .menu__contact__link {
        font-size: 26px;
    }

    .menu__form__header {
        font-size: 21px;
    }

    .input--menu, .menu__form__btn {
        height: 40px;
    }
}

@media(max-width: 1800px) {
    .menu__back {
        top: 20px;
        left: 20px;
    }

    .menu__header {
        font-size: 32px;
    }

    .menu__menu {
        align-self: flex-start;
    }

    .menu__menu__list__link {
        font-size: 26px;
    }

    .menu__form__header,
    .menu__contact__link {
        font-size: 15px;
    }
}

@media(max-width: 1500px) {
    .offer__heading--second {
        margin-top: -100px;
    }
}

@media(max-width: 1400px) {
    .hero {
        padding: 50px 0 30px;
    }

    .hero__main__header {
        font-size: 42px;
    }

    .hero__main__text {
        font-size: 17px;
    }

    .button--hero {
        width: 250px;
        height: 60px;
        font-size: 15px;
    }

    .hero__main__thin {
        font-size: 14px;
    }

    .button--menu {
        width: 35px;
    }

    .hero__header__logoWrapper {
        width: 150px
    }

    .beforeMainHeader {
        font-size: 14px;
    }

    .mainHeader {
        font-size: 32px;
    }

    .text {
        font-size: 14px;
    }

    .offer__item {
        width: 32%;
        padding: 30px 10px;
    }

    .section--offer > .text {
        margin-top: 15px;
    }

    .heading {
        font-size: 36px;
    }

    .offer__heading {
        font-size: 24px;
    }

    .etape,
    .text {
        font-size: 14px;
    }

    .text--offer {
        margin-top: 20px;
    }

    .contactPage__link__img {
        width: 25px;
    }

    .blogMore__header,
    .contactPage__link {
        font-size: 24px;
    }

    .contact__bottomHeader h3 {
        font-size: 24px;
        max-width: 80%;
    }
}

@media(max-width: 1200px) {
    .offer__item__header {
        font-size: 17px;
    }

    .offer__item .text--offerItem, .offer__item__link {
        font-size: 14px;
    }

    .offer__item__link {
        width: 90%;
    }

    .offer__item__img {
        width: 70px;
    }

    .pageHeader__menu__list__link {
        margin: 0 10px;
        font-size: 14px;
    }

    .offer__heading--second {
        margin-top: -10px;
    }

    .offer__heading {
        max-width: 50%;
    }
}

@media(max-width: 996px) {
    .offer__item {
        width: 48%;
    }

    .backgroundImg {
        display: none;
    }
}

@media(max-width: 776px) {

}

@media(max-width: 576px) {

}
