@media(min-width: 2000px) {
    :root {
        --siteWidth: clamp(200px, 90vw, 1600px);
    }
}

@media(min-width: 1800px) {
    .menu__menu__list__item:first-of-type {
        margin-top: -305px;
    }
}

@media(max-width: 1800px) {
    .menu__back {
        top: 20px;
        left: 20px;
    }

    .menu__header {
        font-size: 32px;
    }

    .menu__menu {
        align-self: flex-start;
    }

    .menu__menu__list__link {
        font-size: 26px;
    }

    .menu__form__header,
    .menu__contact__link {
        font-size: 15px;
    }

    .container--websites .offer__heading {
        max-width: 100%;
    }

    .offer__heading--websites2 {
        margin-top: 25px;
    }
}

@media(max-width: 1500px) {
    .offer__heading--second {
        margin-top: -100px;
    }

    .container--graphicalProjects .websites__section {
        margin-top: 30px;
    }
}

@media(max-width: 1400px) {
    .strength__header {
        font-size: 16px;
    }

    .section--shortContactForm .offer__heading {
        margin-bottom: -50px;
    }

    .project__header__h {
        font-size: 28px;
    }

    .project__header__text {
        font-size: 14px;
    }

    .gallery__header {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .gallery__item {
        width: 49%;
        margin-bottom: 25px;
    }

    .button--hero svg {
        height: 60px;
    }

    .hero {
        padding: 50px 0 30px;
    }

    .hero__main__header {
        font-size: 42px;
    }

    .hero__main__text {
        font-size: 17px;
    }

    .button--hero {
        width: 250px;
        height: 60px;
        font-size: 15px;
    }

    .hero__main__thin {
        font-size: 14px;
    }

    .button--menu {
        width: 35px;
    }

    .hero__header__logoWrapper {
        width: 150px
    }

    .beforeMainHeader {
        font-size: 14px;
    }

    .mainHeader {
        font-size: 32px;
    }

    .offer__points__item,
    .text {
        font-size: 14px;
    }

    .offer__item {
        width: 32%;
        padding: 30px 10px;
        padding-bottom: 120px !important;
    }

    .section--offer > .text {
        margin-top: 15px;
    }

    .heading {
        font-size: 36px;
    }

    .offer__heading {
        font-size: 24px;
    }

    .etape,
    .text {
        font-size: 14px;
    }

    .text--offer {
        margin-top: 20px;
    }

    .contactPage__link__img {
        width: 25px;
    }

    .blogMore__header,
    .contactPage__link {
        font-size: 24px;
    }

    .contact__bottomHeader h3 {
        font-size: 24px;
        max-width: 80%;
    }

    .portfolioSection {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }

    .section--portfolio {
        margin-top: 60px;
    }

    .portfolio__item {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .portfolioBtn {
        margin-top: 30px;
        height: 50px;
    }

    .portfolio__item__title,
    .portfolio__item__subtitle {
        font-size: 14px;
    }

    .portfolio__item__link {
        width: 90%;
        height: 30px;
        font-size: 12px;
        max-width: 200px;
    }

    .aboutUs__frame {
        height: 300px;
    }

    .aboutUs__bottom__imgWrapper {
        width: 35%;
        margin-top: 40px;
    }

    .aboutUs__bottom__img {
        width: 100%;
    }

    .button--aboutUs {
        width: 300px;
    }

    .smallPortfolio__main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
}

@media(max-width: 1200px) {
    .d-1200 {
        display: none;
    }

    .section--shortContactForm .offer__heading {
        margin-bottom: -30px;
    }

    .offer__item__header {
        font-size: 17px;
    }

    .offer__item .text--offerItem, .offer__item__link {
        font-size: 14px;
    }

    .offer__item__link {
        width: 90%;
    }

    .offer__item__img {
        width: 70px;
    }

    .pageHeader__menu__list__link {
        margin: 0 10px;
        font-size: 14px;
    }

    .offer__heading--second {
        margin-top: -10px;
    }

    .offer__heading {
        max-width: 50%;
    }

    .contact__header {
        font-size: 20px;
    }

    .blog__item {
        width: 32%;
    }

    .footer__header {
        font-size: 14px;
    }

    .footer__bottom *,
    .footer__link,
    .footer__address span,
    .footer__list__link {
        font-size: 12px;
    }

    .aboutUs__frame__header {
        font-size: 17px;
    }

    .aboutUs__frame__text {
        font-size: 14px;
    }

    .aboutUs__bottom__imgWrapper {
        display: none;
    }

    .container--graphicalProjects .websites__section {
        margin-top: 70px;
    }

    .container--graphicalProjects .offer__heading--100 {
        margin-top: 40px;
    }

    .container--ecommerce .websites__section {
        margin-top: 30px;
    }

    .container--ecommerce .offer__heading--websites2 {
        margin-top: 50px;
    }

    .container--webapps .websites__section__content .offer__heading {
        margin-top: 30px;
    }
}

@media(max-width: 996px) {
    .d-900 {
        display: block !important;
    }

    .d-over-900 {
        display: none !important;
    }

    .offer__item {
        width: 48%;
    }

    .backgroundImg {
        display: none;
    }

    .strength {
        width: 45%;
    }

    .contact__p {
        max-width: 90%;
    }

    .contact__left__label {
        font-size: 15px;
    }

    .portfolioSection {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog__item {
        width: 48%;
    }

    .blog__item:last-of-type {
        display: none;
    }

    .blog__item__excerpt {
        font-size: 14px;
    }

    .section--footer {
        margin-top: 60px;
    }

    .section--footer > .flex {
        flex-direction: column;
        align-items: center;
    }

    .footer__link {
        justify-content: center;
    }

    .section--footer * {
        text-align: center;
    }

    .footer__header {
        margin-bottom: 5px;
    }

    .footer__col {
        margin-bottom: 25px;
    }

    .footer__bottom__socialMedia {
        order: 1;
        flex-direction: column;
    }

    .footer__bottom__link:first-of-type {
        margin-top: 15px !important;
    }

    .footer__bottom__link {
        margin: 5px auto !important;
    }

    .footer__bottom__header {
        order: 2;
        width: 100%;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #313131;
    }

    .container {
        padding-bottom: 20px;
    }

    .section--shortContactForm__imgWrapper {
        display: none;
    }

    .shortForm {
        width: 90%;
        max-width: 500px;
    }

    .contactPage__link {
        font-size: 20px;
    }

    .aboutUs__frames {
        flex-direction: column;
    }

    .aboutUs__frame {
        width: 100%;
        height: auto;
    }

    .offer__firstSection {
        flex-direction: column;
        align-items: center;
    }

    .offer__img {
        margin: 35px auto;
        width: 80%;
        max-width: 500px;
    }

    .offer__heading {
        max-width: 100%;
        text-align: center;
    }

    .text--offer {
        text-align: center;
        width: 100%;
    }

    .etape {
        width: 100%;
        font-weight: 300;
        text-align: center;
    }

    .etape--1 {
        max-width: 100%;
    }

    .offer__heading--second {
        margin-top: 0;
    }

    .shortForm {
        margin: 20px auto;
    }

    .websites__section {
        flex-direction: column;
    }

    .websites__section > * {
        width: 100%;
    }

    .container--websites .text {
        text-align: center;
        max-width: 100%;
        width: 100%;
    }

    .container--websites .heading {
        text-align: center;
    }

    .websites__imgWrapper {
        margin-bottom: 40px;
    }

    .offer__websites__frames {
        flex-direction: column;
    }

    .offer__websites__frames .aboutUs__frame {
        height: auto;
    }

    .ux__section--1,
    .ux__section--2 {
        flex-direction: column;
        align-items: center;
    }

    .ux__imgWrapper {
        width: 100% !important;
        margin: 25px auto;
    }

    .ux__content {
        width: 100% !important;
        max-width: 500px;
    }

    .strengths--websites .strength {
        width: 100%;
    }

    .websites__section .offer__heading {
        text-align: center;
        max-width: 100% !important;
        margin-top: 10px;
    }

    .offer__points {
        height: auto !important;
        margin: 20px 0 0 !important;
    }

    .offer__points__content {
        margin-left: 0;
        height: auto;
    }

    .offer__points__item {
        text-align: center;
        margin: 10px 0 !important;
    }

    .ux__section--1,
    .ux__section--2 {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .container--ux .ux__section--1,
    .container--webapps .ux__section--2 {
        margin-top: 0;
     }

    .container--ecommerce .websites__imgWrapper {
        width: 80%;
    }

    .container--ux .websites__section__content .offer__heading {
        font-size: 22px;
    }

    .container--ux .websites__imgWrapper {
        width: 80%;
    }

    .companies {
        height: 200px;
    }

    .companies__main {
        top: 14%;
    }

    .companies__slide__img {
        max-height: 80px;
    }

    .companies__dots .testimonials__btn {
        width: 14px;
        height: 14px;
    }

    .companies__slide--3:nth-of-type(2) {
        margin-top: 30px;
    }

    .testimonials,
    .testimonials__item {
        height: 420px;
    }

    .testimonials__text, .testimonials__caption {
        font-size: 14px;
    }

    .testimonials__bottom {
        margin-top: 20px;
    }

    .section--gallery .button--hero {
        width: 100%;
        margin-top: 25px;
    }

    .section--shortContactForm .offer__heading {
        margin-bottom: 0;
    }
}

@media(max-width: 776px) {
    :root {
        --siteWidth: clamp(200px, 90vw, 90vw);
    }

    .d-desktop {
        display: none !important;
    }

    .d-mobile {
        display: block !important;
    }

    .article .page__title {
        font-size: 19px;
    }

    .article p {
        font-size: 14px;
    }

    .article__content {
        width: 100%;
        margin-top: 20px;
        padding: 0;
    }

    .afterHero__img {
        margin-bottom: 0;
    }

    .menu__menu__list__link::after {
        display: none;
    }

    .testimonials__item {
        padding: 0 1.5%;
    }

    .testimonials__text {
        margin-top: 25px;
    }

    .testimonials__logo {
        width: 35%;
    }

    .emailResult {
        text-align: center;
        font-size: 12px;
    }

    .shortForm .error,
    .shortForm .result {
        margin-left: auto;
    }

    .section--shortContactForm .flex {
        margin-top: 0;
    }

    .error, .result {
        font-size: 14px;
    }

    .pageHeader {
        width: 100%;
        padding: 30px 20px 20px;
    }

    .project,
    .page {
        margin-top: 100px;
    }

    .hero__header {
        width: 90%;
        margin: auto;
    }

    .hero__bottom {
        left: 5%;
    }

    .hero__bottom__span {
        font-size: 12px;
        margin-left: 65px;
    }

    .hero__bottom__span::before {
        width: 50px;
    }

    .hero__main__header {
        text-align: center;
        font-size: 26px;
    }

    .hero__main__text, .hero__main__thin {
        text-align: center;
        font-size: 14px;
        margin: 15px auto;
        max-width: 90%;
    }

    .hero__content .button--hero {
        margin: 25px auto;
    }

    .hero__socialMedia {
        display: flex;
        top: 99%;
        right: 5%;
        align-items: center;
    }

    .hero__socialMedia__link:last-of-type {
        margin-left: 20px;
    }

    .section--aboutUs,
    .section--afterHero {
        flex-direction: column;
        margin-top: 40px;
    }

    .section--aboutUs > *,
    .section--afterHero > * {
        width: 100%;
    }

    .beforeMainHeader {
        text-align: center;
        font-weight: 100;
        display: block;
        margin: auto;
    }

    .mainHeader {
        text-align: center;
        font-size: 24px;
    }

    .text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
    }

    .button--hero {
        margin-left: auto;
        margin-right: auto;
    }

    .afterHero__right.d-mobile {
        width: 80%;
        margin: 45px auto;
    }

    .section--aboutUs .text,
    .section--afterHero .text {
        max-width: 95%;
    }

    .section--afterHero .button--hero {
        width: 90%;
    }

    .section--offer {
        margin-top: 30px;
    }

    .section--offer .text {
        max-width: 90%;
    }

    .portfolioBtn .d-mobile,
    .whiteHeader .d-mobile,
    .mainHeader .d-mobile {
        line-height: 0;
    }

    .offer__item {
        width: 100%;
        height: auto;
    }

    .offer__item__link {
        width: 85%;
    }

    .aboutUs__right {
        width: 80%;
        margin: 40px auto;
    }

    .button--aboutUs {
        width: 300px;
        max-width: 100%;
        margin: 20px auto;
        font-size: 16px;
        height: 60px;
    }

    .whiteHeader {
        font-size: 20px;
        text-align: center;
    }

    .strength {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .strength__imgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .strength__img {
        margin-right: 0;
    }

    .strength__header {
        font-size: 16px;
        text-align: center;
        margin: 10px auto;
    }

    .contact__header,
    .strength__text {
        text-align: center;
    }

    .contact__p {
        font-weight: 300;
        text-align: center;
        max-width: 100%;
        font-size: 14px;
        margin-top: 15px;
    }

    .contact__left__buttons.d-mobile {
        background: #131313;
        border: 3px solid var(--red);
        border-radius: 5px;
        height: 50px;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        width: 95%;
        margin: 20px auto;
    }

    .contact__left__label {
        width: 90%;
        margin-bottom: 0;
    }

    .contact__left__button {
        width: 20px;
        height: 20px;
    }

    .label--agreement {
        max-width: 95%;
    }

    .contact__submitBtn {
        height: 50px;
    }

    .section--portfolio {
        margin-top: 60px;
    }

    .portfolio__item__after--3,
    .portfolio__item__after--4,
    .portfolio__item__after--5,
    .portfolio__item__before--3,
    .portfolio__item__before--4,
    .portfolio__item__before--5,
    .portfolioSection .portfolio__item:nth-of-type(4),
    .portfolioSection .portfolio__item:nth-of-type(5),
    .portfolioSection .portfolio__item:nth-of-type(6) {
        display: none !important;
    }

    .portfolioSection {
        max-width: 400px;
        grid-template-columns: 1fr;
        grid-row-gap: 0;
    }

    .portfolio__item__title.d-mobile,
    .portfolio__item__subtitle.d-mobile {
        text-align: center;
    }

    .portfolio__item {
        margin: 15px auto;
    }

    .portfolio__btn--mobile {
        width: 100%;
        height: 40px;
        text-align: center;
        border: 3px solid var(--red);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        display: flex !important;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    .portfolio__btn--mobile:last-of-type {
        margin-bottom: 40px;
    }

    .portfolioBtn {
        text-align: center;
        font-size: 13px;
        margin-top: 0;
        flex-direction: column;
    }

    .menu {
        justify-content: flex-start;
        padding-top: 0;
    }

    .menu__header {
        font-size: 24px;
        text-align: center;
    }

    .menu__menu {
        margin: 20px auto 5px;
        text-align: center;
    }

    .menu__menu__list__link {
        font-size: 18px;
    }

    .menu__bottom > section {
        flex-direction: column;
        align-items: center !important;
    }

    .menu__form {
        align-items: center;
    }

    .menu__form__header,
    .menu__contact__link {
        font-size: 12px;
    }

    .menu__contact__link__img {
        width: 15px;
        margin-right: 15px;
    }

    .menu__back {
        top: 34px;
        left: 4%;
        font-size: 12px;
    }

    .menu__back__img {
        width: 15px;
        margin-right: 5px;
    }

    .pageHeader__logoWrapper {
        width: 160px;
    }

    .contact__flex {
        flex-direction: column;
    }

    .contactPage__link {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .contactPage__link__img {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .contact__bottomHeader h3 {
        text-align: center;
        margin: auto;
        font-size: 20px;
        max-width: 100%;
    }

    .heading {
        text-align: center;
        font-size: 24px;
    }

    .offer__heading {
        max-width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .container--contact .offer__heading {
        max-width: 80%;
        margin: auto;
    }

    .shortForm {
        margin: 20px auto;
        width: 95%;
    }

    .label--agreement,
    .contact__submitBtn,
    .label {
        max-width: 100%;
    }

    .container--contact .label--agreement__link {
        margin-left: 0;
    }

    .aboutUs__bottom__content {
        width: 100%;
    }

    .aboutUs__buttons {
        flex-direction: column;
    }

    .aboutUs__buttons .button--aboutUs:first-of-type {
        margin-right: auto;
    }

    .button--aboutUs {
        margin-top: 25px;
        margin-bottom: 5px;
        font-size: 14px;
        height: 60px;
    }

    .aboutUs__buttons__img {
        width: 15px;
    }

    .smallPortfolio__main {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .section--techStack .whiteHeader {
        margin-bottom: 25px;
    }

    .gallery__item {
        width: 100%;
    }

    .closeModalBtn,
    .modal__arrow {
        width: 15px;
    }

    .project__main__header {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .project__main__text {
        font-size: 14px;
    }

    .project__main__img {
        margin: 20px 0;
    }

    .stickyHeader {
        height: 70px;
    }
}

@media(max-width: 576px) {
    .input, .input::placeholder {
        font-size: 12px;
    }

    .label--agreement {
        font-size: 10px;
    }

    .label--agreement .contact__left__button {
        margin-right: 6px;
    }
}
